@import "../../sass/variables.module.scss";

.selected-card {
  .flex-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &.m-b-3 {
      margin-bottom: $margin-level-3;
    }

    &.m-b-8 {
      margin-bottom: $margin-level-8;
    }

    &_left {
      color: $secondary-color;
    }

    &_right {
      @include text-regular();
      color: var(--text-theme-color);
    }
  }

  &__top-description {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  &__image-holder {
    flex: 1;
    padding: $margin-level-4 15px;
    @include selected-card-bg();
    @include flex-center();
    position: relative;

    .favorites-icon {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $primary-color;
      width: 56px;
      height: 56px;
      @include flex-center();

      svg {
        color: $background-light-color;
      }

      &:hover svg {
        color: $red-color;
      }
    }
  }

  &__image {
    max-height: 350px;
    width: auto;
  }

  &__main-info {
    flex: 1;
    border-top: 1px solid $border-color;
    padding-top: $margin-level-3;
  }

  &__price {
    @include headline-2();
  }

  &__details {
    margin-top: $margin-level-4;
  }

  &__details-info {
    margin-top: $margin-level-8;
  }

  .addToCart-button {
    margin-top: $margin-level-2;
    margin-bottom: $margin-level-3;
    width: 100%;
  }

  .link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}