@import "../../../sass/variables.module.scss";

.user-info {
    height: 100%;
    padding: 0 $margin-level-4;
    display: flex;
    align-items: center;
    gap: $margin-level-7;
    @include text-bold();
    color: var(--text-theme-color);
    border-left: 1px solid $border-color;

    &__logo,
    &__name {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    &__logo {
        height: 48px;
        min-width: 48px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}